apiVersion: apps/v1
kind: Deployment
metadata:
  name: demo-app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: demo-app
  template:
    metadata:
      labels:
        app: demo-app
    spec:
      containers:
        - name: demo-app
          image: 088332244542.dkr.ecr.us-west-2.amazonaws.com/teamcity-shivam:node_latest
          ports:
            - containerPort: 8080
          env:
            - name: PORT
              value: "8080"
